<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="/">Out car</a>
    
    <ul class="navbar-nav ml-auto">
    	<%if !user_signed_in? %>
    	
        <%= link_to new_user_registration_path, class:'nav-link' do%>
        <i class="fas fa-sign-in-alt"></i>Login
        <%end%>
	<%else%>
        
      <%= link_to destroy_user_session_path, class:'nav-link', method: :delete do%>
      	 <i class="fas fa-sign-out-alt"></i>Log uot
      	<%end%>
    <%end%>
    </ul>
</nav>

